<a href="https://colab.research.google.com/github/martinpdab/tugasscdl/blob/main/Skenario2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)

In [2]:
import numpy as np
import pandas as pd

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [3]:
#memakai dataset
URL = 'https://raw.githubusercontent.com/martinpdab/tugasscdl/main/data%20fix.csv' 
dataframe = pd.read_csv(URL)
dataframe

     Period     TE     HU     RF    WS  ...  LAG9  LAG10  LAG11  LAG12  OS
0    Jan-10  26.02  84.74  10.52  0.84  ...     5      2      1      4   0
1    Feb-10  26.32  84.64  12.04  0.86  ...     3      5      2      1   1
2    Mar-10  26.39  85.00   8.65  0.55  ...     3      3      5      2   0
3    Apr-10  26.29  86.17  10.37  0.30  ...     4      3      3      5   0
4    May-10  26.57  85.61   7.35  0.58  ...     1      4      3      3   0
..      ...    ...    ...    ...   ...  ...   ...    ...    ...    ...  ..
103  Aug-18  24.27  76.87   0.00  1.39  ...     1      1      2      3   0
104  Sep-18  25.50  75.73   0.59  1.03  ...     1      1      1      2   1
105  Oct-18  26.58  74.94   0.04  1.39  ...     4      1      1      1   1
106  Nov-18  26.49  82.28  10.53  1.00  ...     1      4      1      1   1
107  Dec-18  26.14  85.45  10.41  0.87  ...     2      1      4      1   1

[108 rows x 21 columns]

In [4]:
#mengambil kolom LAG0 sampai LAG12 dan OS dan mengacak dataset
data = dataframe[[ 'LAG0', 'LAG1', 'LAG2', 'LAG3', 'LAG4', 'LAG5', 'LAG6', 'LAG7', 'LAG8', 'LAG9', 'LAG10', 'LAG11', 'LAG12', 'OS' ]]
data = shuffle(data)
data.head()

    LAG0  LAG1  LAG2  LAG3  LAG4  LAG5  ...  LAG8  LAG9  LAG10  LAG11  LAG12  OS
21     0     0     0     1     0     2  ...     3     1      0      0      0   0
1      3     1     4     6     4     4  ...     3     3      5      2      1   1
51     0     0     0     0     0     0  ...     0     4      1      7      2   0
78     2     2     6     2     2     2  ...     0     0      0      0      5   1
55     0     5     0     0     0     0  ...     0     0      0      0      0   0

[5 rows x 14 columns]

In [5]:
#train-test split 80-20
train, test = train_test_split(data, test_size=0.2)
print(len(train), 'banyak data train')
print(len(test), 'banyak data test')

#train-test split 70-30
#train, test = train_test_split(data, test_size=0.3)
#print(len(train), 'banyak data train')
#print(len(test), 'banyak data test')

86 banyak data train
22 banyak data test

In [6]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(data, batch_size=32):
  data = data.copy()
  labels = data.pop('OS')
  ds = tf.data.Dataset.from_tensor_slices((dict(data), labels))
  ds = ds.batch(batch_size)
  return ds

In [7]:
batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
test_ds = df_to_dataset(test, batch_size=batch_size)

In [8]:
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('LAG0:', feature_batch['LAG0'])
  print('LAG1:', feature_batch['LAG1'])
  print('OS:', label_batch)

Every feature: ['LAG0', 'LAG1', 'LAG2', 'LAG3', 'LAG4', 'LAG5', 'LAG6', 'LAG7', 'LAG8', 'LAG9', 'LAG10', 'LAG11', 'LAG12']
LAG0: tf.Tensor([3 4 0 1 1], shape=(5,), dtype=int64)
LAG1: tf.Tensor([2 1 3 1 1], shape=(5,), dtype=int64)
OS: tf.Tensor([1 1 0 0 0], shape=(5,), dtype=int64)

In [9]:
feature_columns = []

for header in ['LAG0', 'LAG1', 'LAG2', 'LAG3', 'LAG4', 'LAG5', 'LAG6', 'LAG7', 'LAG8', 'LAG9', 'LAG10', 'LAG11', 'LAG12']:
  feature_columns.append(feature_column.numeric_column(header))

In [10]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)
feature_layer

In [11]:
batch_size = 32
train_ds = df_to_dataset(train, batch_size=batch_size)
test_ds = df_to_dataset(test, batch_size=batch_size)

In [12]:
model = tf.keras.Sequential([
  feature_layer,
  #layers.Dense(128, activation='relu'),
  layers.Dense(128, activation='relu'),
  layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(train_ds,
          validation_data=test_ds,
          epochs=25)

Epoch 1/25
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'LAG0': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=int64>, 'LAG1': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=int64>, 'LAG2': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=int64>, 'LAG3': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=int64>, 'LAG4': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=int64>, 'LAG5': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=int64>, 'LAG6': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=int64>, 'LAG7': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=int64>, 'LAG8': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=int64>, 'LAG9': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=int64>, 'LAG10': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=int64>, 'LAG11': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=int64>, 'LAG12': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=int64>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'LAG0': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=int64>, 'LAG1': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=int64>, 'LAG2': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=int64>, 'LAG3': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=int64>, 'LAG4': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=int64>, 'LAG5': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=int64>, 'LAG6': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=int64>, 'LAG7': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=int64>, 'LAG8': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=int64>, 'LAG9': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=int64>, 'LAG10': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=int64>, 'LAG11': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=int64>, 'LAG12': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=int64>}
Consider rewriting this model with the Functional API.
1/3 [=========>....................] - ETA: 2s - loss: 0.9474 - accuracy: 0.2812WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'LAG0': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=int64>, 'LAG1': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=int64>, 'LAG2': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=int64>, 'LAG3': <tf.Tensor 'ExpandDims_6:0' shape=(None, 1) dtype=int64>, 'LAG4': <tf.Tensor 'ExpandDims_7:0' shape=(None, 1) dtype=int64>, 'LAG5': <tf.Tensor 'ExpandDims_8:0' shape=(None, 1) dtype=int64>, 'LAG6': <tf.Tensor 'ExpandDims_9:0' shape=(None, 1) dtype=int64>, 'LAG7': <tf.Tensor 'ExpandDims_10:0' shape=(None, 1) dtype=int64>, 'LAG8': <tf.Tensor 'ExpandDims_11:0' shape=(None, 1) dtype=int64>, 'LAG9': <tf.Tensor 'ExpandDims_12:0' shape=(None, 1) dtype=int64>, 'LAG10': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=int64>, 'LAG11': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=int64>, 'LAG12': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=int64>}
Consider rewriting this model with the Functional API.
3/3 [==============================] - 1s 125ms/step - loss: 0.8054 - accuracy: 0.4070 - val_loss: 0.8012 - val_accuracy: 0.4091
Epoch 2/25
3/3 [==============================] - 0s 11ms/step - loss: 0.6976 - accuracy: 0.5581 - val_loss: 0.6847 - val_accuracy: 0.5455
Epoch 3/25
3/3 [==============================] - 0s 12ms/step - loss: 0.6433 - accuracy: 0.6163 - val_loss: 0.6189 - val_accuracy: 0.6364
Epoch 4/25
3/3 [==============================] - 0s 15ms/step - loss: 0.6090 - accuracy: 0.6628 - val_loss: 0.5828 - val_accuracy: 0.6364
Epoch 5/25
3/3 [==============================] - 0s 12ms/step - loss: 0.5790 - accuracy: 0.7326 - val_loss: 0.5622 - val_accuracy: 0.7273
Epoch 6/25
3/3 [==============================] - 0s 14ms/step - loss: 0.5492 - accuracy: 0.7791 - val_loss: 0.5502 - val_accuracy: 0.7273
Epoch 7/25
3/3 [==============================] - 0s 12ms/step - loss: 0.5210 - accuracy: 0.7907 - val_loss: 0.5431 - val_accuracy: 0.7273
Epoch 8/25
3/3 [==============================] - 0s 12ms/step - loss: 0.4964 - accuracy: 0.8023 - val_loss: 0.5376 - val_accuracy: 0.7273
Epoch 9/25
3/3 [==============================] - 0s 11ms/step - loss: 0.4757 - accuracy: 0.8256 - val_loss: 0.5302 - val_accuracy: 0.7273
Epoch 10/25
3/3 [==============================] - 0s 14ms/step - loss: 0.4577 - accuracy: 0.8140 - val_loss: 0.5190 - val_accuracy: 0.7727
Epoch 11/25
3/3 [==============================] - 0s 13ms/step - loss: 0.4408 - accuracy: 0.8140 - val_loss: 0.5037 - val_accuracy: 0.8182
Epoch 12/25
3/3 [==============================] - 0s 12ms/step - loss: 0.4245 - accuracy: 0.8140 - val_loss: 0.4860 - val_accuracy: 0.8636
Epoch 13/25
3/3 [==============================] - 0s 11ms/step - loss: 0.4090 - accuracy: 0.8372 - val_loss: 0.4680 - val_accuracy: 0.8636
Epoch 14/25
3/3 [==============================] - 0s 12ms/step - loss: 0.3948 - accuracy: 0.8488 - val_loss: 0.4512 - val_accuracy: 0.8636
Epoch 15/25
3/3 [==============================] - 0s 11ms/step - loss: 0.3820 - accuracy: 0.8488 - val_loss: 0.4364 - val_accuracy: 0.8636
Epoch 16/25
3/3 [==============================] - 0s 11ms/step - loss: 0.3704 - accuracy: 0.8837 - val_loss: 0.4236 - val_accuracy: 0.8636
Epoch 17/25
3/3 [==============================] - 0s 11ms/step - loss: 0.3598 - accuracy: 0.9070 - val_loss: 0.4123 - val_accuracy: 0.8636
Epoch 18/25
3/3 [==============================] - 0s 12ms/step - loss: 0.3499 - accuracy: 0.9302 - val_loss: 0.4021 - val_accuracy: 0.8636
Epoch 19/25
3/3 [==============================] - 0s 10ms/step - loss: 0.3405 - accuracy: 0.9302 - val_loss: 0.3924 - val_accuracy: 0.9091
Epoch 20/25
3/3 [==============================] - 0s 11ms/step - loss: 0.3316 - accuracy: 0.9419 - val_loss: 0.3829 - val_accuracy: 0.9091
Epoch 21/25
3/3 [==============================] - 0s 10ms/step - loss: 0.3230 - accuracy: 0.9419 - val_loss: 0.3736 - val_accuracy: 0.9091
Epoch 22/25
3/3 [==============================] - 0s 13ms/step - loss: 0.3147 - accuracy: 0.9419 - val_loss: 0.3643 - val_accuracy: 0.9091
Epoch 23/25
3/3 [==============================] - 0s 11ms/step - loss: 0.3067 - accuracy: 0.9419 - val_loss: 0.3554 - val_accuracy: 0.9091
Epoch 24/25
3/3 [==============================] - 0s 12ms/step - loss: 0.2989 - accuracy: 0.9419 - val_loss: 0.3469 - val_accuracy: 0.9091
Epoch 25/25
3/3 [==============================] - 0s 12ms/step - loss: 0.2915 - accuracy: 0.9419 - val_loss: 0.3389 - val_accuracy: 0.9091