<a href="https://colab.research.google.com/github/martinpdab/tugasscdl/blob/main/Skenario1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)

In [2]:
import numpy as np
import pandas as pd

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [3]:
#memakai dataset
URL = 'https://raw.githubusercontent.com/martinpdab/tugasscdl/main/data%20fix.csv' 
dataframe = pd.read_csv(URL)
dataframe

     Period     TE     HU     RF    WS  ...  LAG9  LAG10  LAG11  LAG12  OS
0    Jan-10  26.02  84.74  10.52  0.84  ...     5      2      1      4   0
1    Feb-10  26.32  84.64  12.04  0.86  ...     3      5      2      1   1
2    Mar-10  26.39  85.00   8.65  0.55  ...     3      3      5      2   0
3    Apr-10  26.29  86.17  10.37  0.30  ...     4      3      3      5   0
4    May-10  26.57  85.61   7.35  0.58  ...     1      4      3      3   0
..      ...    ...    ...    ...   ...  ...   ...    ...    ...    ...  ..
103  Aug-18  24.27  76.87   0.00  1.39  ...     1      1      2      3   0
104  Sep-18  25.50  75.73   0.59  1.03  ...     1      1      1      2   1
105  Oct-18  26.58  74.94   0.04  1.39  ...     4      1      1      1   1
106  Nov-18  26.49  82.28  10.53  1.00  ...     1      4      1      1   1
107  Dec-18  26.14  85.45  10.41  0.87  ...     2      1      4      1   1

[108 rows x 21 columns]

In [4]:
# mengambil kolom TE, HU, RF, WS, PD, ABJ, OS dan mengacak dataset
data = dataframe[['TE', 'HU', 'RF', 'WS', 'PD', 'ABJ', 'OS']]
data = shuffle(data)
data.head()

       TE     HU     RF    WS      PD     ABJ  OS
59  25.72  88.84  15.66  0.10  825.95  36.490   0
6   25.35  83.52   2.16  1.77  796.41  85.740   0
90  24.46  82.06   7.28  1.52  840.70  88.450   0
0   26.02  84.74  10.52  0.84  792.86  86.960   0
61  25.98  85.71  16.65  0.21  827.01  91.432   0

In [5]:
#train-test split 80-20
train, test = train_test_split(data, test_size=0.2)
print(len(train), 'banyak data train')
print(len(test), 'banyak data test')

#train-test split 70-30
#train, test = train_test_split(data, test_size=0.3)
#print(len(train), 'banyak data train')
#print(len(test), 'banyak data test')

86 banyak data train
22 banyak data test

In [6]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(data, batch_size=32):
  data = data.copy()
  labels = data.pop('OS')
  ds = tf.data.Dataset.from_tensor_slices((dict(data), labels))
  ds = ds.batch(batch_size)
  return ds

In [7]:
batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
test_ds = df_to_dataset(test, batch_size=batch_size)

In [8]:
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('TE:', feature_batch['TE'])
  print('HU:', feature_batch['HU'])
  print('OS:', label_batch)

Every feature: ['TE', 'HU', 'RF', 'WS', 'PD', 'ABJ']
TE: tf.Tensor([26.43 25.7  26.03 25.14 26.02], shape=(5,), dtype=float64)
HU: tf.Tensor([81.1  82.71 82.13 74.77 84.74], shape=(5,), dtype=float64)
OS: tf.Tensor([0 1 0 0 0], shape=(5,), dtype=int64)

In [9]:
feature_columns = []

for header in ['TE', 'HU', 'RF', 'WS', 'PD', 'ABJ']:
  feature_columns.append(feature_column.numeric_column(header))

In [10]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)
feature_layer

In [28]:
batch_size = 64
train_ds = df_to_dataset(train, batch_size=batch_size)
test_ds = df_to_dataset(test, batch_size=batch_size)

In [29]:
model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(128, activation='relu'),
  layers.Dense(64, activation='relu'),
  layers.Dense(32, activation='relu'),
  layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(train_ds,
          validation_data=test_ds,
          epochs=75)

Epoch 1/75
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'TE': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=float64>, 'HU': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=float64>, 'RF': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float64>, 'WS': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=float64>, 'PD': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=float64>, 'ABJ': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=float64>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'TE': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=float64>, 'HU': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=float64>, 'RF': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float64>, 'WS': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=float64>, 'PD': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=float64>, 'ABJ': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=float64>}
Consider rewriting this model with the Functional API.
1/2 [==============>...............] - ETA: 0s - loss: 33.0931 - accuracy: 0.2812WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'TE': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=float64>, 'HU': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=float64>, 'RF': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float64>, 'WS': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=float64>, 'PD': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=float64>, 'ABJ': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=float64>}
Consider rewriting this model with the Functional API.
2/2 [==============================] - 1s 164ms/step - loss: 28.2872 - accuracy: 0.2558 - val_loss: 3.5572 - val_accuracy: 0.6818
Epoch 2/75
2/2 [==============================] - 0s 16ms/step - loss: 3.5677 - accuracy: 0.7442 - val_loss: 11.6384 - val_accuracy: 0.6818
Epoch 3/75
2/2 [==============================] - 0s 17ms/step - loss: 9.4352 - accuracy: 0.7442 - val_loss: 12.7025 - val_accuracy: 0.6818
Epoch 4/75
2/2 [==============================] - 0s 17ms/step - loss: 9.9642 - accuracy: 0.7442 - val_loss: 9.8551 - val_accuracy: 0.6818
Epoch 5/75
2/2 [==============================] - 0s 17ms/step - loss: 7.5050 - accuracy: 0.7442 - val_loss: 4.6376 - val_accuracy: 0.6818
Epoch 6/75
2/2 [==============================] - 0s 15ms/step - loss: 3.2137 - accuracy: 0.7442 - val_loss: 4.5616 - val_accuracy: 0.3182
Epoch 7/75
2/2 [==============================] - 0s 16ms/step - loss: 5.4008 - accuracy: 0.2558 - val_loss: 2.6628 - val_accuracy: 0.3182
Epoch 8/75
2/2 [==============================] - 0s 17ms/step - loss: 2.3389 - accuracy: 0.4186 - val_loss: 3.7405 - val_accuracy: 0.6818
Epoch 9/75
2/2 [==============================] - 0s 16ms/step - loss: 3.1628 - accuracy: 0.7442 - val_loss: 5.7772 - val_accuracy: 0.6818
Epoch 10/75
2/2 [==============================] - 0s 15ms/step - loss: 4.6101 - accuracy: 0.7442 - val_loss: 5.4342 - val_accuracy: 0.6818
Epoch 11/75
2/2 [==============================] - 0s 15ms/step - loss: 4.1893 - accuracy: 0.7442 - val_loss: 3.1920 - val_accuracy: 0.6818
Epoch 12/75
2/2 [==============================] - 0s 16ms/step - loss: 2.2797 - accuracy: 0.7442 - val_loss: 1.2885 - val_accuracy: 0.3182
Epoch 13/75
2/2 [==============================] - 0s 18ms/step - loss: 1.7046 - accuracy: 0.2558 - val_loss: 0.7023 - val_accuracy: 0.5000
Epoch 14/75
2/2 [==============================] - 0s 16ms/step - loss: 0.7244 - accuracy: 0.5814 - val_loss: 2.3609 - val_accuracy: 0.6818
Epoch 15/75
2/2 [==============================] - 0s 18ms/step - loss: 1.9066 - accuracy: 0.7442 - val_loss: 2.4891 - val_accuracy: 0.6818
Epoch 16/75
2/2 [==============================] - 0s 18ms/step - loss: 1.8683 - accuracy: 0.7442 - val_loss: 0.8740 - val_accuracy: 0.6818
Epoch 17/75
2/2 [==============================] - 0s 18ms/step - loss: 0.9228 - accuracy: 0.5814 - val_loss: 1.0937 - val_accuracy: 0.3182
Epoch 18/75
2/2 [==============================] - 0s 16ms/step - loss: 0.9840 - accuracy: 0.4186 - val_loss: 1.4919 - val_accuracy: 0.6818
Epoch 19/75
2/2 [==============================] - 0s 16ms/step - loss: 1.1999 - accuracy: 0.7442 - val_loss: 1.5053 - val_accuracy: 0.6818
Epoch 20/75
2/2 [==============================] - 0s 16ms/step - loss: 1.0968 - accuracy: 0.7442 - val_loss: 0.7575 - val_accuracy: 0.5909
Epoch 21/75
2/2 [==============================] - 0s 20ms/step - loss: 0.8280 - accuracy: 0.3605 - val_loss: 0.7184 - val_accuracy: 0.6364
Epoch 22/75
2/2 [==============================] - 0s 19ms/step - loss: 0.6312 - accuracy: 0.7558 - val_loss: 1.2490 - val_accuracy: 0.6818
Epoch 23/75
2/2 [==============================] - 0s 17ms/step - loss: 0.9361 - accuracy: 0.7442 - val_loss: 0.6479 - val_accuracy: 0.6818
Epoch 24/75
2/2 [==============================] - 0s 18ms/step - loss: 0.6689 - accuracy: 0.6047 - val_loss: 0.6490 - val_accuracy: 0.6364
Epoch 25/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5778 - accuracy: 0.7326 - val_loss: 1.0391 - val_accuracy: 0.6818
Epoch 26/75
2/2 [==============================] - 0s 19ms/step - loss: 0.7895 - accuracy: 0.7442 - val_loss: 0.6464 - val_accuracy: 0.6818
Epoch 27/75
2/2 [==============================] - 0s 18ms/step - loss: 0.6289 - accuracy: 0.6395 - val_loss: 0.6615 - val_accuracy: 0.6364
Epoch 28/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5732 - accuracy: 0.7558 - val_loss: 0.8966 - val_accuracy: 0.6818
Epoch 29/75
2/2 [==============================] - 0s 19ms/step - loss: 0.6925 - accuracy: 0.7558 - val_loss: 0.6501 - val_accuracy: 0.6364
Epoch 30/75
2/2 [==============================] - 0s 17ms/step - loss: 0.6091 - accuracy: 0.7093 - val_loss: 0.7162 - val_accuracy: 0.6364
Epoch 31/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5952 - accuracy: 0.7558 - val_loss: 0.7709 - val_accuracy: 0.6818
Epoch 32/75
2/2 [==============================] - 0s 19ms/step - loss: 0.6268 - accuracy: 0.7674 - val_loss: 0.6465 - val_accuracy: 0.6818
Epoch 33/75
2/2 [==============================] - 0s 15ms/step - loss: 0.5821 - accuracy: 0.7326 - val_loss: 0.7656 - val_accuracy: 0.6818
Epoch 34/75
2/2 [==============================] - 0s 16ms/step - loss: 0.6170 - accuracy: 0.7558 - val_loss: 0.6697 - val_accuracy: 0.6364
Epoch 35/75
2/2 [==============================] - 0s 16ms/step - loss: 0.5873 - accuracy: 0.7442 - val_loss: 0.6520 - val_accuracy: 0.6364
Epoch 36/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5623 - accuracy: 0.7558 - val_loss: 0.7448 - val_accuracy: 0.6818
Epoch 37/75
2/2 [==============================] - 0s 23ms/step - loss: 0.6061 - accuracy: 0.7674 - val_loss: 0.6414 - val_accuracy: 0.6364
Epoch 38/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5701 - accuracy: 0.7558 - val_loss: 0.7064 - val_accuracy: 0.6818
Epoch 39/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5842 - accuracy: 0.7558 - val_loss: 0.6749 - val_accuracy: 0.6364
Epoch 40/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5806 - accuracy: 0.7674 - val_loss: 0.6537 - val_accuracy: 0.6364
Epoch 41/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5623 - accuracy: 0.7674 - val_loss: 0.7088 - val_accuracy: 0.6818
Epoch 42/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5883 - accuracy: 0.7674 - val_loss: 0.6460 - val_accuracy: 0.6364
Epoch 43/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5649 - accuracy: 0.7674 - val_loss: 0.6943 - val_accuracy: 0.6818
Epoch 44/75
2/2 [==============================] - 0s 18ms/step - loss: 0.5787 - accuracy: 0.7674 - val_loss: 0.6624 - val_accuracy: 0.6364
Epoch 45/75
2/2 [==============================] - 0s 18ms/step - loss: 0.5723 - accuracy: 0.7674 - val_loss: 0.6662 - val_accuracy: 0.6364
Epoch 46/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5664 - accuracy: 0.7674 - val_loss: 0.6825 - val_accuracy: 0.6818
Epoch 47/75
2/2 [==============================] - 0s 18ms/step - loss: 0.5780 - accuracy: 0.7674 - val_loss: 0.6534 - val_accuracy: 0.6364
Epoch 48/75
2/2 [==============================] - 0s 18ms/step - loss: 0.5635 - accuracy: 0.7674 - val_loss: 0.6864 - val_accuracy: 0.6818
Epoch 49/75
2/2 [==============================] - 0s 18ms/step - loss: 0.5770 - accuracy: 0.7674 - val_loss: 0.6550 - val_accuracy: 0.6364
Epoch 50/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5662 - accuracy: 0.7674 - val_loss: 0.6775 - val_accuracy: 0.6818
Epoch 51/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5720 - accuracy: 0.7674 - val_loss: 0.6632 - val_accuracy: 0.6364
Epoch 52/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5700 - accuracy: 0.7674 - val_loss: 0.6672 - val_accuracy: 0.6818
Epoch 53/75
2/2 [==============================] - 0s 21ms/step - loss: 0.5677 - accuracy: 0.7674 - val_loss: 0.6705 - val_accuracy: 0.6818
Epoch 54/75
2/2 [==============================] - 0s 18ms/step - loss: 0.5723 - accuracy: 0.7674 - val_loss: 0.6612 - val_accuracy: 0.6818
Epoch 55/75
2/2 [==============================] - 0s 21ms/step - loss: 0.5659 - accuracy: 0.7674 - val_loss: 0.6734 - val_accuracy: 0.6818
Epoch 56/75
2/2 [==============================] - 0s 20ms/step - loss: 0.5726 - accuracy: 0.7674 - val_loss: 0.6596 - val_accuracy: 0.6818
Epoch 57/75
2/2 [==============================] - 0s 18ms/step - loss: 0.5662 - accuracy: 0.7674 - val_loss: 0.6727 - val_accuracy: 0.6818
Epoch 58/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5716 - accuracy: 0.7674 - val_loss: 0.6606 - val_accuracy: 0.6818
Epoch 59/75
2/2 [==============================] - 0s 20ms/step - loss: 0.5673 - accuracy: 0.7674 - val_loss: 0.6705 - val_accuracy: 0.6818
Epoch 60/75
2/2 [==============================] - 0s 23ms/step - loss: 0.5703 - accuracy: 0.7674 - val_loss: 0.6625 - val_accuracy: 0.6818
Epoch 61/75
2/2 [==============================] - 0s 20ms/step - loss: 0.5685 - accuracy: 0.7674 - val_loss: 0.6683 - val_accuracy: 0.6818
Epoch 62/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5693 - accuracy: 0.7674 - val_loss: 0.6641 - val_accuracy: 0.6818
Epoch 63/75
2/2 [==============================] - 0s 20ms/step - loss: 0.5693 - accuracy: 0.7674 - val_loss: 0.6668 - val_accuracy: 0.6818
Epoch 64/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5687 - accuracy: 0.7674 - val_loss: 0.6650 - val_accuracy: 0.6818
Epoch 65/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5697 - accuracy: 0.7674 - val_loss: 0.6660 - val_accuracy: 0.6818
Epoch 66/75
2/2 [==============================] - 0s 21ms/step - loss: 0.5686 - accuracy: 0.7674 - val_loss: 0.6654 - val_accuracy: 0.6818
Epoch 67/75
2/2 [==============================] - 0s 19ms/step - loss: 0.5698 - accuracy: 0.7674 - val_loss: 0.6658 - val_accuracy: 0.6818
Epoch 68/75
2/2 [==============================] - 0s 25ms/step - loss: 0.5687 - accuracy: 0.7674 - val_loss: 0.6654 - val_accuracy: 0.6818
Epoch 69/75
2/2 [==============================] - 0s 18ms/step - loss: 0.5699 - accuracy: 0.7674 - val_loss: 0.6660 - val_accuracy: 0.6818
Epoch 70/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5690 - accuracy: 0.7674 - val_loss: 0.6653 - val_accuracy: 0.6818
Epoch 71/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5698 - accuracy: 0.7674 - val_loss: 0.6664 - val_accuracy: 0.6818
Epoch 72/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5694 - accuracy: 0.7674 - val_loss: 0.6650 - val_accuracy: 0.6818
Epoch 73/75
2/2 [==============================] - 0s 16ms/step - loss: 0.5698 - accuracy: 0.7674 - val_loss: 0.6670 - val_accuracy: 0.6818
Epoch 74/75
2/2 [==============================] - 0s 18ms/step - loss: 0.5698 - accuracy: 0.7674 - val_loss: 0.6648 - val_accuracy: 0.6818
Epoch 75/75
2/2 [==============================] - 0s 17ms/step - loss: 0.5698 - accuracy: 0.7674 - val_loss: 0.6678 - val_accuracy: 0.6818