<a href="https://colab.research.google.com/github/martinpdab/tugasscdl/blob/main/skenario5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import  train_test_split
from keras.utils.np_utils import to_categorical

try:
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.utils import shuffle

In [3]:
#memakai dataset
URL = 'https://raw.githubusercontent.com/martinpdab/tugasscdl/main/data%20fix.csv' 
dataframe = pd.read_csv(URL)
dataframe

     Period     TE     HU     RF    WS  ...  LAG 9  LAG 10  LAG 11  LAG 12  OS
0    Jan-10  26.02  84.74  10.52  0.84  ...      5       2       1       4   0
1    Feb-10  26.32  84.64  12.04  0.86  ...      3       5       2       1   1
2    Mar-10  26.39  85.00   8.65  0.55  ...      3       3       5       2   0
3    Apr-10  26.29  86.17  10.37  0.30  ...      4       3       3       5   0
4    May-10  26.57  85.61   7.35  0.58  ...      1       4       3       3   0
..      ...    ...    ...    ...   ...  ...    ...     ...     ...     ...  ..
103  Aug-18  24.27  76.87   0.00  1.39  ...      1       1       2       3   0
104  Sep-18  25.50  75.73   0.59  1.03  ...      1       1       1       2   1
105  Oct-18  26.58  74.94   0.04  1.39  ...      4       1       1       1   1
106  Nov-18  26.49  82.28  10.53  1.00  ...      1       4       1       1   1
107  Dec-18  26.14  85.45  10.41  0.87  ...      2       1       4       1   1

[108 rows x 21 columns]