<a href="https://colab.research.google.com/github/martinpdab/tugasscdl/blob/main/Skenario1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)

In [2]:
import numpy as np
import pandas as pd

try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass
import tensorflow as tf

from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [3]:
#memakai dataset
URL = 'https://raw.githubusercontent.com/martinpdab/tugasscdl/main/data%20fix.csv' 
dataframe = pd.read_csv(URL)
dataframe

     Period     TE     HU     RF    WS  ...  LAG9  LAG10  LAG11  LAG12  OS
0    Jan-10  26.02  84.74  10.52  0.84  ...     5      2      1      4   0
1    Feb-10  26.32  84.64  12.04  0.86  ...     3      5      2      1   1
2    Mar-10  26.39  85.00   8.65  0.55  ...     3      3      5      2   0
3    Apr-10  26.29  86.17  10.37  0.30  ...     4      3      3      5   0
4    May-10  26.57  85.61   7.35  0.58  ...     1      4      3      3   0
..      ...    ...    ...    ...   ...  ...   ...    ...    ...    ...  ..
103  Aug-18  24.27  76.87   0.00  1.39  ...     1      1      2      3   0
104  Sep-18  25.50  75.73   0.59  1.03  ...     1      1      1      2   1
105  Oct-18  26.58  74.94   0.04  1.39  ...     4      1      1      1   1
106  Nov-18  26.49  82.28  10.53  1.00  ...     1      4      1      1   1
107  Dec-18  26.14  85.45  10.41  0.87  ...     2      1      4      1   1

[108 rows x 21 columns]

In [4]:
# mengambil kolom TE, HU, RF, WS, PD, ABJ, OS dan mengacak dataset
data = dataframe[['TE', 'HU', 'RF', 'WS', 'PD', 'ABJ', 'OS']]
data = shuffle(data)
data.head()

       TE     HU     RF    WS      PD     ABJ  OS
59  25.72  88.84  15.66  0.10  825.95  36.490   0
6   25.35  83.52   2.16  1.77  796.41  85.740   0
90  24.46  82.06   7.28  1.52  840.70  88.450   0
0   26.02  84.74  10.52  0.84  792.86  86.960   0
61  25.98  85.71  16.65  0.21  827.01  91.432   0

In [5]:
#train-test split 80-20
train, test = train_test_split(data, test_size=0.2)
print(len(train), 'banyak data train')
print(len(test), 'banyak data test')

#train-test split 70-30
#train, test = train_test_split(data, test_size=0.3)
#print(len(train), 'banyak data train')
#print(len(test), 'banyak data test')

86 banyak data train
22 banyak data test

In [6]:
# A utility method to create a tf.data dataset from a Pandas Dataframe
def df_to_dataset(data, batch_size=32):
  data = data.copy()
  labels = data.pop('OS')
  ds = tf.data.Dataset.from_tensor_slices((dict(data), labels))
  ds = ds.batch(batch_size)
  return ds

In [7]:
batch_size = 5 # A small batch sized is used for demonstration purposes
train_ds = df_to_dataset(train, batch_size=batch_size)
test_ds = df_to_dataset(test, batch_size=batch_size)

In [8]:
for feature_batch, label_batch in train_ds.take(1):
  print('Every feature:', list(feature_batch.keys()))
  print('TE:', feature_batch['TE'])
  print('HU:', feature_batch['HU'])
  print('OS:', label_batch)

Every feature: ['TE', 'HU', 'RF', 'WS', 'PD', 'ABJ']
TE: tf.Tensor([26.43 25.7  26.03 25.14 26.02], shape=(5,), dtype=float64)
HU: tf.Tensor([81.1  82.71 82.13 74.77 84.74], shape=(5,), dtype=float64)
OS: tf.Tensor([0 1 0 0 0], shape=(5,), dtype=int64)

In [9]:
feature_columns = []

for header in ['TE', 'HU', 'RF', 'WS', 'PD', 'ABJ']:
  feature_columns.append(feature_column.numeric_column(header))

In [10]:
feature_layer = tf.keras.layers.DenseFeatures(feature_columns)
feature_layer

In [16]:
batch_size = 64
train_ds = df_to_dataset(train, batch_size=batch_size)
test_ds = df_to_dataset(test, batch_size=batch_size)

In [17]:
model = tf.keras.Sequential([
  feature_layer,
  layers.Dense(128, activation='relu'),
  layers.Dense(64, activation='relu'),
  layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(train_ds,
          validation_data=test_ds,
          epochs=50)

Epoch 1/50
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'TE': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=float64>, 'HU': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=float64>, 'RF': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float64>, 'WS': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=float64>, 'PD': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=float64>, 'ABJ': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=float64>}
Consider rewriting this model with the Functional API.
WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'TE': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=float64>, 'HU': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=float64>, 'RF': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float64>, 'WS': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=float64>, 'PD': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=float64>, 'ABJ': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=float64>}
Consider rewriting this model with the Functional API.
1/2 [==============>...............] - ETA: 0s - loss: 117.4548 - accuracy: 0.2812WARNING:tensorflow:Layers in a Sequential model should only have a single input tensor, but we receive a <class 'dict'> input: {'TE': <tf.Tensor 'ExpandDims_4:0' shape=(None, 1) dtype=float64>, 'HU': <tf.Tensor 'ExpandDims_1:0' shape=(None, 1) dtype=float64>, 'RF': <tf.Tensor 'ExpandDims_3:0' shape=(None, 1) dtype=float64>, 'WS': <tf.Tensor 'ExpandDims_5:0' shape=(None, 1) dtype=float64>, 'PD': <tf.Tensor 'ExpandDims_2:0' shape=(None, 1) dtype=float64>, 'ABJ': <tf.Tensor 'ExpandDims:0' shape=(None, 1) dtype=float64>}
Consider rewriting this model with the Functional API.
2/2 [==============================] - 1s 165ms/step - loss: 112.9278 - accuracy: 0.2558 - val_loss: 54.3854 - val_accuracy: 0.3182
Epoch 2/50
2/2 [==============================] - 0s 28ms/step - loss: 51.3825 - accuracy: 0.2558 - val_loss: 0.8783 - val_accuracy: 0.5909
Epoch 3/50
2/2 [==============================] - 0s 18ms/step - loss: 2.6382 - accuracy: 0.5233 - val_loss: 20.9232 - val_accuracy: 0.6818
Epoch 4/50
2/2 [==============================] - 0s 17ms/step - loss: 17.8670 - accuracy: 0.7442 - val_loss: 32.5024 - val_accuracy: 0.6818
Epoch 5/50
2/2 [==============================] - 0s 20ms/step - loss: 26.6567 - accuracy: 0.7442 - val_loss: 38.0199 - val_accuracy: 0.6818
Epoch 6/50
2/2 [==============================] - 0s 16ms/step - loss: 30.7296 - accuracy: 0.7442 - val_loss: 39.2382 - val_accuracy: 0.6818
Epoch 7/50
2/2 [==============================] - 0s 19ms/step - loss: 31.4526 - accuracy: 0.7442 - val_loss: 37.2514 - val_accuracy: 0.6818
Epoch 8/50
2/2 [==============================] - 0s 20ms/step - loss: 29.6701 - accuracy: 0.7442 - val_loss: 32.7980 - val_accuracy: 0.6818
Epoch 9/50
2/2 [==============================] - 0s 16ms/step - loss: 25.9564 - accuracy: 0.7442 - val_loss: 26.4232 - val_accuracy: 0.6818
Epoch 10/50
2/2 [==============================] - 0s 18ms/step - loss: 20.7380 - accuracy: 0.7442 - val_loss: 18.5381 - val_accuracy: 0.6818
Epoch 11/50
2/2 [==============================] - 0s 16ms/step - loss: 14.3284 - accuracy: 0.7442 - val_loss: 9.4406 - val_accuracy: 0.6818
Epoch 12/50
2/2 [==============================] - 0s 18ms/step - loss: 6.9605 - accuracy: 0.7442 - val_loss: 1.2136 - val_accuracy: 0.5000
Epoch 13/50
2/2 [==============================] - 0s 19ms/step - loss: 3.5343 - accuracy: 0.2907 - val_loss: 7.5584 - val_accuracy: 0.3182
Epoch 14/50
2/2 [==============================] - 0s 21ms/step - loss: 7.5456 - accuracy: 0.2558 - val_loss: 1.4575 - val_accuracy: 0.6818
Epoch 15/50
2/2 [==============================] - 0s 17ms/step - loss: 1.6585 - accuracy: 0.7442 - val_loss: 5.8109 - val_accuracy: 0.6818
Epoch 16/50
2/2 [==============================] - 0s 16ms/step - loss: 4.9060 - accuracy: 0.7442 - val_loss: 7.0837 - val_accuracy: 0.6818
Epoch 17/50
2/2 [==============================] - 0s 16ms/step - loss: 5.7276 - accuracy: 0.7442 - val_loss: 5.7950 - val_accuracy: 0.6818
Epoch 18/50
2/2 [==============================] - 0s 18ms/step - loss: 4.5313 - accuracy: 0.7442 - val_loss: 2.3861 - val_accuracy: 0.6818
Epoch 19/50
2/2 [==============================] - 0s 19ms/step - loss: 1.8790 - accuracy: 0.6860 - val_loss: 2.6123 - val_accuracy: 0.3636
Epoch 20/50
2/2 [==============================] - 0s 16ms/step - loss: 2.9427 - accuracy: 0.2558 - val_loss: 1.2657 - val_accuracy: 0.6818
Epoch 21/50
2/2 [==============================] - 0s 16ms/step - loss: 1.3218 - accuracy: 0.7442 - val_loss: 3.3567 - val_accuracy: 0.6818
Epoch 22/50
2/2 [==============================] - 0s 17ms/step - loss: 2.7871 - accuracy: 0.7442 - val_loss: 2.7797 - val_accuracy: 0.6818
Epoch 23/50
2/2 [==============================] - 0s 16ms/step - loss: 2.1551 - accuracy: 0.7442 - val_loss: 0.6721 - val_accuracy: 0.5455
Epoch 24/50
2/2 [==============================] - 0s 20ms/step - loss: 1.2505 - accuracy: 0.4070 - val_loss: 0.6533 - val_accuracy: 0.5909
Epoch 25/50
2/2 [==============================] - 0s 17ms/step - loss: 0.8808 - accuracy: 0.5349 - val_loss: 2.0980 - val_accuracy: 0.6818
Epoch 26/50
2/2 [==============================] - 0s 16ms/step - loss: 1.7671 - accuracy: 0.7442 - val_loss: 1.4580 - val_accuracy: 0.6818
Epoch 27/50
2/2 [==============================] - 0s 19ms/step - loss: 1.2105 - accuracy: 0.7209 - val_loss: 1.0170 - val_accuracy: 0.5455
Epoch 28/50
2/2 [==============================] - 0s 16ms/step - loss: 1.2444 - accuracy: 0.4186 - val_loss: 1.2177 - val_accuracy: 0.6818
Epoch 29/50
2/2 [==============================] - 0s 17ms/step - loss: 1.1278 - accuracy: 0.7442 - val_loss: 1.4279 - val_accuracy: 0.6818
Epoch 30/50
2/2 [==============================] - 0s 25ms/step - loss: 1.1672 - accuracy: 0.7326 - val_loss: 0.7835 - val_accuracy: 0.6818
Epoch 31/50
2/2 [==============================] - 0s 18ms/step - loss: 1.0395 - accuracy: 0.4651 - val_loss: 1.0061 - val_accuracy: 0.6818
Epoch 32/50
2/2 [==============================] - 0s 21ms/step - loss: 0.9549 - accuracy: 0.7442 - val_loss: 1.1600 - val_accuracy: 0.6818
Epoch 33/50
2/2 [==============================] - 0s 22ms/step - loss: 0.9997 - accuracy: 0.7326 - val_loss: 0.7184 - val_accuracy: 0.6364
Epoch 34/50
2/2 [==============================] - 0s 18ms/step - loss: 0.9090 - accuracy: 0.5000 - val_loss: 1.0302 - val_accuracy: 0.6818
Epoch 35/50
2/2 [==============================] - 0s 18ms/step - loss: 0.9353 - accuracy: 0.7442 - val_loss: 0.8292 - val_accuracy: 0.6364
Epoch 36/50
2/2 [==============================] - 0s 20ms/step - loss: 0.8494 - accuracy: 0.6860 - val_loss: 0.6437 - val_accuracy: 0.6364
Epoch 37/50
2/2 [==============================] - 0s 16ms/step - loss: 0.7622 - accuracy: 0.5698 - val_loss: 1.0266 - val_accuracy: 0.6818
Epoch 38/50
2/2 [==============================] - 0s 18ms/step - loss: 0.8999 - accuracy: 0.7442 - val_loss: 0.6448 - val_accuracy: 0.5909
Epoch 39/50
2/2 [==============================] - 0s 20ms/step - loss: 0.7790 - accuracy: 0.5814 - val_loss: 0.7938 - val_accuracy: 0.6364
Epoch 40/50
2/2 [==============================] - 0s 18ms/step - loss: 0.7736 - accuracy: 0.7326 - val_loss: 0.7990 - val_accuracy: 0.6364
Epoch 41/50
2/2 [==============================] - 0s 16ms/step - loss: 0.7921 - accuracy: 0.7093 - val_loss: 0.6502 - val_accuracy: 0.5909
Epoch 42/50
2/2 [==============================] - 0s 19ms/step - loss: 0.7248 - accuracy: 0.6395 - val_loss: 0.8733 - val_accuracy: 0.6364
Epoch 43/50
2/2 [==============================] - 0s 16ms/step - loss: 0.7997 - accuracy: 0.7326 - val_loss: 0.6494 - val_accuracy: 0.5909
Epoch 44/50
2/2 [==============================] - 0s 17ms/step - loss: 0.7310 - accuracy: 0.6279 - val_loss: 0.7969 - val_accuracy: 0.6364
Epoch 45/50
2/2 [==============================] - 0s 16ms/step - loss: 0.7547 - accuracy: 0.7326 - val_loss: 0.7029 - val_accuracy: 0.6364
Epoch 46/50
2/2 [==============================] - 0s 19ms/step - loss: 0.7348 - accuracy: 0.6977 - val_loss: 0.7070 - val_accuracy: 0.6364
Epoch 47/50
2/2 [==============================] - 0s 21ms/step - loss: 0.7117 - accuracy: 0.7209 - val_loss: 0.7627 - val_accuracy: 0.6364
Epoch 48/50
2/2 [==============================] - 0s 18ms/step - loss: 0.7412 - accuracy: 0.7093 - val_loss: 0.6709 - val_accuracy: 0.5909
Epoch 49/50
2/2 [==============================] - 0s 18ms/step - loss: 0.6985 - accuracy: 0.7093 - val_loss: 0.7769 - val_accuracy: 0.6364
Epoch 50/50
2/2 [==============================] - 0s 17ms/step - loss: 0.7339 - accuracy: 0.7326 - val_loss: 0.6701 - val_accuracy: 0.5909